<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.billog_studio.exodus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gra" />
        <activity android:name=".wczytaj_gre" />
        <activity android:name=".Ustawienia" />
        <activity android:name=".Autorzy" />
        <activity android:name=".Gra_1" />
        <activity android:name=".Gra_2" />
        <activity android:name=".Gra_3" />
        <activity android:name=".gra_atak" />
        <activity android:name=".Gra_4" />
        <activity android:name=".gra_atak_1_a" />
        <activity android:name=".gra_atak_1_b" />
        <activity android:name=".gra_atak_1_c" />
        <activity android:name=".gra_atak_1_d" />
        <activity android:name=".gra_atak_najemnik" />
        <activity android:name=".gra_atak_1_2c" />
        <activity android:name=".gra_atak_1_3c" />
        <activity android:name=".gra_atak_kobieta" />
        <activity android:name=".gra_atak_kobieta_a" />
        <activity android:name=".gra_atak_kobieta_b" />
        <activity android:name=".gra_atak_najemnik_a" />
        <activity android:name=".gra_end" />
        <activity android:name=".gra_atak_najemnik_b" />
        <activity android:name=".gra_atak_1_2_d" />
        <activity android:name=".gra_zamiast_najemnika" />
        <activity android:name=".gra_nowy_dzien" />
        <activity android:name=".gra_shop" />
        <activity android:name=".gra_port" />
        <activity android:name=".Gracz_Statystyki" />
        <activity android:name=".pest_goloszenia" />
        <activity android:name=".pest_mission_straz_miejska" />
        <activity android:name=".pest_mission_gildia_kupiecka" />
        <activity android:name=".pest_mission_zaginiony_kowal" />
        <activity android:name=".pest_karczma" />
        <activity android:name=".pest_miejski_rynek" />
        <activity android:name=".krolewskie_wiesci" />
        <activity android:name=".pest_gildia_najemnikow"></activity>
    </application>

</manifest>